<div class="avatar-current">
  <%= image_tag avatarable.avatar.url(options[:size]) + "?#{Time.current.to_i}", id: options[:id] || 'avatar-crop', class: options[:class] || "avatar avatar-#{options[:size]}" %>
</div>