<div class="avatar-update">
  <%= avatar(avatarable, :medium) %>

  <%= form_for avatarable, url: avatar_path, multipart: true do |f| %>
       <span class="edit-avatar">
         <%= f.file_field :logo, 'data-url' => avatar_path, accept: 'image/png,image/gif,image/jpeg' %>
       </span>
  <% end %>
</div>

<%= javascript_tag do %>
  $(function() {
  AvatarForRails.edit();
  });
<% end %>

